<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.android.car.ui" />
    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeatRootsLearning"
        tools:targetApi="31">
        <activity android:name=".IncomingCallActivity" />
        <activity
            android:name=".MainRepository"
            android:exported="false" />
        <activity
            android:name=".CallActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".AlbumDetailActivity"
            android:exported="false" />
        <activity
            android:name=".musicpage_spotify"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="chit.org"
                    android:path="/callback"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Music_page"
            android:exported="false" />
        <activity
            android:name=".Enter_password"
            android:exported="false" />
        <activity
            android:name=".Hidden_chats"
            android:exported="false" />
        <activity
            android:name=".Recheck_password"
            android:exported="false" />
        <activity
            android:name=".Password_Check"
            android:exported="false" />
        <activity
            android:name=".Set_new_pattern"
            android:exported="false" />
        <activity
            android:name=".Hidden_chats_page"
            android:exported="false" />
        <activity
            android:name=".Edit_Contact_details"
            android:exported="false" />
        <activity
            android:name=".chat_page_wallpaper"
            android:exported="false" />
        <activity
            android:name=".chat_tab_wallpaper"
            android:exported="false" />
        <activity
            android:name=".advanced_edit"
            android:exported="false" />
        <activity
            android:name=".Ads_page"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5333866713262697~7627374199" />

        <activity
            android:name=".chatPage"
            android:launchMode="standard"
            android:exported="false" />
        <activity
            android:name=".EditingDetails"
            android:exported="false" />
        <activity
            android:name=".AddContacts"
            android:exported="false" />
        <activity
            android:name=".For_Testing"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".StartUpPage"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>